.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 646px) {
  .profile {
    max-width: calc(100% - 2 * 10px);
    display: flex;
    flex-direction: column;
    max-height: 286px;
    margin: 13px auto;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: calc(100% - 2 * 19px);
    padding-top: 41px;
    margin: 0 auto;
  }
}
