.popup__saveButton {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 49px 36px 0 36px;
  cursor: pointer;
}

.popup__saveButton:hover {
  opacity: 0.8;
}

@media screen and (max-width: 542px) {
  .popup__saveButton {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
  }
}
