.photo-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  margin: 50px auto 68px;
}

@media screen and (max-width: 900px) and (min-width: 647px) {
  .photo-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 646px) and (min-width: 603px) {
  .photo-cards {
    margin: 60px 10px 48px;
  }
}

@media screen and (max-width: 602px) and (min-width: 320px) {
  .photo-cards {
    grid-template-columns: minmax(282px, 1fr);
    margin: 36px auto 0;
  }
}
